<div class="component-container">

  <div class="friend-container">
    <!-- <p>{{friendIsSelected}}</p>
    <p>{{friendIndexSelected}}</p>
    <p>{{pokeFriendIds[0]}}</p>
    <p>{{pokeFriendIds[1]}}</p>
    <p>{{pokeFriendIds[2]}}</p> -->

    <div *ngFor="let i of [0,1,2]" class="friend-item" [style]="friendIndexSelected == i ? 'background-color: greenyellow;' : ''" (click)="selectFriend(i)" >
      <img *ngIf="!pokeFriend[i]" src="assets/0.png">
      <img *ngIf="pokeFriend[i]" [src]="pokeFriend[i].sprite_front">
    </div>
  </div>

  <div class="other-container">
    <app-show-stats *ngIf="!friendIsSelected" [pokemon]="getPokemonForm"></app-show-stats>
    <p *ngIf="friendIsSelected"> Choose friend </p>
  </div>


  <div *ngIf="trig" class="pokemons-container">
    <div *ngFor="let pok of userPokemon" [class]="isFriend(pok.getId) ? 'is-friend' : 'pokemon'">
      <app-pokemon-form-card [pokemon]="pok" (click)="!friendIsSelected ? select(pok) : chooseFriend(pok.getId)"></app-pokemon-form-card>
    </div>
  </div>

</div>
