.component-container {
  width : 100%;
  display: flex;
  flex-direction: column;
}

.pokemons-container {
  display: flex;
  background-color: #e7e7e7;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.other-container {
  justify-content: center;
  width: 100%;
  display: flex;
  background-color: #f2f2f2;
  flex-wrap: wrap;

}
.pokemon {
  padding: 4px;
  border: solid;
  border-radius: 0.25rem;

  margin: 4px;
}
app-show-stats{
  width: 100%;
}
