
<div class="screen_border">
  <div class="screen_container">
    <div class="pc_seablue">
      <div *ngIf="!fightStart" class="container" style="flex-direction: row;">
        <input [(ngModel)]="pokePlayerIndex" (change)="getPokePlayer()" type="number" min="1" max="1008">
        <img draggable="false" *ngIf="pokePlayer" [src]="pokePlayer.sprites.front_default">
      </div>
      <div *ngIf="!fightStart" class="container" style="flex-direction: row;">
        <input [(ngModel)]="pokeEnemyIndex" (change)="getPokeEnemy()" type="number" min="1" max="1008">
        <img draggable="false" *ngIf="pokeEnemy" [src]="pokeEnemy.sprites.front_default">
      </div>
      <button *ngIf="!fightStart" (click)="fight()" >fight</button>
      <app-click [player]="player" [enemy]="enemy"  *ngIf="player && enemy && fightStart" [player_sprite]="pokePlayer.sprites.back_default" [enemy_sprite]="pokeEnemy.sprites.front_default"></app-click>
    </div>
  </div>
</div>
