
<div class="rand-pokemon-container">
  <div *ngFor="let userPoke of userPokemons">
    <app-pokemon-form-card (click)="clickPlayer(userPoke)" [pokemon]="userPoke"></app-pokemon-form-card>
  </div>
</div>
<div class="fight-container">
  <!-- <p>click in parent : {{clicInParent}}</p>
  <p>fight result : {{fightResult}}</p> -->
  <app-click  (clickEvent)="onChildClick($event)" (endFight)="endFightResult($event)"  [pokePlayer]="poke" [enemy]="poke2" ></app-click>
  <!-- [player_sprite]="poke.sprite_back" [enemy_sprite]="poke2.sprite_front" -->
</div>
<div class="rand-pokemon-container">
  <div *ngFor="let randPoke of randomPokeList">
    <app-pokemon-form-card (click)="clickEnemy(randPoke)" [pokemon]="randPoke"></app-pokemon-form-card>
  </div>
</div>
