
.component-container {
display: flex;
flex-direction: column;
margin: auto;
padding: 60px;

}


.pokedex_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* min-height: 100%; */
  align-items: center;
  // padding: 60px;
}

button {
  background-color: lightgray;
  font-size: 1rem;
  color: white;
  // border: solid;
  // border-radius: 5px;
  width: 150px;
  margin: auto;
  padding: 0.5rem;
}


