.poke-card-container{
  font-family: "Lato", cursive;
  font-size: small;
  background-color: transparent;
  background: radial-gradient(circle at center, rgb(0, 0, 0) -200%, rgba(255, 0, 0, 0) 50%);
  //transform: skewX(-10deg);
  //border: solid;
  //border-radius: 0.25rem;
  /* min-width: 200px; */
  max-width: 96px;
  display: flex;
  padding-bottom: 6px;
  align-items: center;
  flex-direction: column;
}

.poke-sprite{
  text-align: center;

}

p {
  font-family: "Lato", cursive;
  margin: 0;
  color: rgb(121, 121, 121);
  font-size: smaller;
  letter-spacing: 1px;
  //font-size: x-large;
}

