<div class="screen_border">
  <div class="screen_container">
    <div class="pc_seablue">
      <br>
      <div class="menu">

        <div class="menu-item">
          <div routerLink="newgame">NEW GAME</div>
        </div>

        <div class="menu-item">
          <div routerLink="loadgame">LOAD GAME</div>
        </div>

        <!-- <div class="menu-item">
          <div routerLink="clicker">CliCkER</div>
        </div> -->

        <!-- <div class="menu-item">
          <div routerLink="game">CONTINUE</div>
        </div> -->

      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


