.menu{
  display: flex;
  flex-direction: column;
  /* border-spacing: 1ch; */
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
  /* padding-top: 5%; */
  text-align: center;
}

.menu-item{
  padding: 10px;
}

.menu-item:hover{
  //border: 10%;
  text-decoration: underline;
  cursor: pointer;
  //text-align: center;

}


.poke-container{
  display: flex;
  //justify-content: space-between

}
